<section id="flags" class="my-0 py-0 px-3 pt-5 pb-5 justify-content-center text-center align-content-center">
    <div class="container my-0 py-0">
        <div class="row text-white text-dark ">
            <div class="col">
                <h2>
                    {% if title is defined %}
                        {{ title|raw|striptags }}
                    {% else %}
                        Поможем попасть <br> в любую страну
                    {% endif %}


                </h2><br>
                {% if subtitle is defined %}
                    {{ subtitle|raw|striptags }}
                {% else %}
                    <span class="h3">Законно, легально, доступно</span><br>
                {% endif %}


                {% if subsubtitle is defined %}
                    {{ subsubtitle|raw }}
                {% else %}
                    <span class="h4 mt-4 line-height w350px">Работаем со всеми самыми популярными направлениями туристических поездок,
                    бизнес-туров и&nbsp;т.д.
                    Выбирайте своё и заказывайте визу со сроком оформления до 2 раз
                    меньше, чем если бы вы занимались этим самостоятельно.
                </span>
                {% endif %}
            </div>
        </div>


        <div class="mx-0 px-0 mt-2">
            <table class="flags-header margin-auto w-50">
                {% for region in regions %}
                    <tr id="{{ region.slug }}">
                        <td colspan="2">
                            <div class="link-flag-long">
                                <a class="nav-link text-dark menu-visa-link href link-scroll-m "
                                   data-region="{{ region }}" href="#{{ region.slug }}">
                                    {{ region }}
                                </a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="px-4">
                            {% if region=='Шенген' %}
                                <span data-region="Шенген" class="mb-4 region-info">
                                    Обеспечим оформление визы для посещения любой страны шенгенского союза в срок от 1 дня с гарантией
                                    </span>
                            {% elseif region=='Европа' %}
                                <span data-region="Европа" class="mb-4 region-info">
                                    Путешествия по Европе никогда еще не были такими доступными, как с «Международный визовый центр»
                                    </span>
                            {% elseif region=='Азия' %}
                                <span data-region="Азия" class="mb-4 region-info">
                                    Помогаем в оформлении визы в страны Азии с покупкой турпакета или без оного
                                    </span>
                            {% elseif region=='Америка' %}
                                <span data-region="Америка" class="mb-4 region-info">
                                    В кратчайшие сроки получите визу любого типа для посещения стран и государств, расположенных на территории Америки
                                    </span>
                            {% elseif region=='Океания' %}
                                <span data-region="Океания" class="mb-4 region-info">
                                    Визы без проблем и личного присутствия в любую из 14 стран Океании оформляются у нас в срок от 1 рабочего дня
                                    </span>
                            {% elseif region=='Африка и Ближний Восток' %}
                                <span data-region="Африка и Ближний Восток" class="mb-4 region-info">
                                    Предоставляем полный комплекс услуг по оформлению визы и сопутствующих поездке документов
                                    </span>
                            {% endif %}
                        </td>
                    </tr>





                    {% set batch = 0 %}
                    {% for key, visa in region.visas %}

                        {% if key % 6 == 0 %}
                            {% set batch = batch + 1 %}
                        {% endif %}

                        <tr class="region-flags" data-region="{{ region }}" style="display: none;"
                            data-batch="{{ batch }}">


                            <td class="td">
                                <div class="row col-sm-3 d-flex justify-content-center text-center m-0 p-0">
                                    <figure class="flag mr-4">
                                        <a href="{{ path('visa', {'region_slug': visa.region.slug, 'slug': visa.slug}) }}">
                                            <img alt="" src="/img/1x1.png" data-src="{{ visa.img }}"
                                                 class="big_flag_img">
                                        </a>


                                    </figure>
                                </div> <!--//col -->
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td class="figcaption text-left pl-2">
                                            {{ visa }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left visa-info">
                                            <span class="text-left gray pl-2">Сроки:</span> <span
                                                    class="b">от 5 дней</span><br>
                                            <span class="text-left gray pl-2">Цена:</span> <span
                                                    class="b">от {{ visa.price }} ₽</span><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="btn btn-success btn-sm text-white get-country-consultation href mt-2 btn-flag float-left"
                                               data-country="{{ visa }}">Получить консультацию</a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                        </td>
                                    </tr>
                                </table>


                            </td>
                        </tr>
                    {% endfor %}

                    {% if region.visas|length > 6 %}

                        <tr class="show-batch-tr" data-region="{{ region }}">
                            <td colspan="2">
                                <button class="btn btn-lg btn-outline-success show-batch mb-4" data-region="{{ region }}">


                                    {% if region.visas|length <= 12 %}
                                        Показать оставшиеся
                                    {% else %}
                                        Показать ещё
                                    {% endif %}


                                </button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>


    </div> <!--//container-->
</section>