<section id="intro2_slider_section">
    <div class="container justify-content-center text-center align-content-center ">
        <div class="row text-white  d-flex justify-content-center mt-4">
            <div class="owl-carousel owl-theme specialists-slider">
                {% for specialist in specialists %}
                    <div class="item-holder">
                        <div class="item row">
                            <div class="col">
                                <a title="{{ specialist.name }}"
                                   data-target="#video_modal_specialist_{{ specialist.id }}"
                                   data-toggle="modal" href="#">
                                    <img class="thumbnail" data-src="{{ specialist.photoUri }}">
                                    {% if specialist.embedVideo %}
                                        <a class="playWrapper" title="{{ specialist.name }}"
                                           data-target="#video_modal_specialist_{{ specialist.id }}" data-toggle="modal"
                                           href="#">
                                                <span class="playBtn"><img
                                                            data-src="/img/play-button.png"
                                                            width="50" height="50" alt=""></span>
                                        </a>
                                    {% endif %}
                                </a>
                            </div>

                        </div> <!--//item-->
                    </div> <!--//item holder-->
                {% endfor %}
            </div> <!--//owl-carousel-->
        </div>
    </div>
</section>